<div>
    <ul>
        <li class="is-hidden-touch">
            <a href="https://github.com/jhoanzerpa22" target="_blank">
                <i class="fa fa-github-alt github fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="is-hidden-touch">
            <a href="https://www.linkedin.com/in/jhoan-z-473856a2/" target="_blank">
                <i class="fa fa-linkedin linkedin fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li class="is-hidden-touch">
            <a href="https://wa.me/584125336973" target="_blank">
                <i class="fa fa-whatsapp whatsapp fa-2x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <app-contact-form></app-contact-form>
        </li>
    </ul>
</div>