<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <a href="https://github.com/jhoanzerpa22" target="_blank" class="icon is-large has-text-white">
                <i class="fa fa-github-alt github fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/jhoan-z-473856a2/" target="_blank" class="icon is-large has-text-white">
                <i class="fa fa-linkedin linkedin fa-2x"></i>
            </a>
            <a href="https://wa.me/584125336973" target="_blank" class="icon is-large has-text-white">
                <i class="fa fa-whatsapp whatsapp fa-2x"></i>
            </a>
            <p class="has-text-white">
                {{"FOOTER_TEXTO1"|translate}} {{"FOOTER_TEXTO2"|translate}}
            </p>
        </div>
    </div>
</footer>